<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card fxLayout="column" fxLayoutAlign="start">
        <mat-card-title>
            <h2>Quiz: {{name}}</h2>
        </mat-card-title>
        <mat-card-content>
            <mat-accordion *ngFor="let question of questions; let i=index">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="space-evenly center">
                            <h3>Question</h3>
                        </mat-panel-title>
                        <mat-panel-description>
                            Add info for a question
                        </mat-panel-description>
                        <button mat-raised-button class="delete-button" (click)="removeQuestion(i)" color="warn">
                            Delete
                        </button>
                    </mat-expansion-panel-header>
                    <app-question></app-question>
                </mat-expansion-panel>
            </mat-accordion>

            <div fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-fab (click)="addQuestion()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="fab" type="submit" (click)="onSubmit()">Submit</button>
        </mat-card-actions>
    </mat-card>
</div>