<mat-form-field class="input-form">
  <mat-label>Search quiz</mat-label>
  <input matInput type="search" placeholder="Search" value="" [(ngModel)]="userRequest"
         (ngModelChange)="this.userQuestionUpdate.next($event)">
</mat-form-field>
<div  #maincontent fxLayout="row wrap">
  <div *ngFor="let quiz of quizzes" fxLayout="row wrap">
    <app-quiz [quizData]="quiz">
    </app-quiz>
  </div>

</div>
<mat-paginator [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChanged($event); maincontent.scrollTop = 0;">
</mat-paginator>
