button {
  width: 100%;
  margin-bottom: 5px;
}

.scroll {
  max-height: 950px;
  overflow: scroll;
}

.scrollRec {
  max-height: 900px;
  overflow: scroll;
}

mat-selection-list {
  max-height: 900px;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#recommended {
  margin-top: 6px;
  margin-bottom: 3px;
}

.create_button {
  background: grey;
}

.input {
  margin-left: 536px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


mat-paginator {
  width: 50%;
  margin-left: 49%;
}

.main {
  margin-left: 9px;
}

