<div class="container" *ngIf="question">
    <mat-card fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="start">
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
                <mat-card-title>Question {{questionNumber}} : {{question.text}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content >
                <div class="image" cols="6" rowHeight="20rem"  fxLayout="column" fxLayoutAlign="center center">
                  <div >
                    <div>
                      <mat-progress-spinner [value]="100*(questionTimer/initTime)" fxFlexAlign="center">
                      </mat-progress-spinner>
                      <div id="time" fxFlexAlign="center">
                        <h3>{{questionTimer}} sec</h3>
                      </div>
                    </div>
                  </div>
                  <div class="image" colspan="4" *ngIf="question.image!=null">
                    <div class="w-100">
                      <img matCardImage [src] = "question.image" alt="https://material.angular.io/assets/img/examples/shiba2.jpg"
                           fxFlexAlign="center">
                    </div>
                  </div>
                </div>
            </mat-card-content>
        </div>
        <ng-template #dynamicComponent></ng-template>
    </mat-card>
</div>
