<nav mat-tab-nav-bar *ngIf="currentUser.id == id">
  <a mat-tab-link [routerLink]="[{outlets: {profilenav: 'profinfo'}}]"
     routerLinkActive #myProfile="routerLinkActive" [active]="myProfile.isActive">My Profile</a>
  <a mat-tab-link [routerLink]="[{outlets: {profilenav: 'friends'}}]"
     routerLinkActive #myFriends="routerLinkActive" [active]="myFriends.isActive">My friends</a>
  <a mat-tab-link [routerLink]="[{outlets: {profilenav: 'mygames'}}]"
     routerLinkActive #myQuizzes="routerLinkActive" [active]="myQuizzes.isActive">My Quizzes</a>
  <a mat-tab-link [routerLink]="[{outlets: {profilenav: 'favorite'}}]"
     routerLinkActive #favorite="routerLinkActive" [active]="favorite.isActive">Favorite</a>
</nav>

