<div *ngIf="profile">
<div *ngIf="!isEditForm">
  <span>
    <p>Name: {{profile?.name}}</p>
  </span>
  <p>Surname: {{profile?.surname}}</p>
  <p>Gender: {{profile?.gender}}</p>
  <p>Birthdate: {{profile?.birthdate | date}}</p>
  <p>City: {{profile?.city}}</p>
  <p>About me: {{profile?.about}}</p>
  <p *ngIf="!isUser">Role: {{profile?.role}} </p>
  <div (click)="isEditForm=true">
    <div>
      <button mat-raised-button *ngIf="id==currentUserId">Edit profile</button>
    </div>
  </div>
</div>



<div *ngIf="isEditForm">
  <form (ngSubmit)="ngSubmit()">
    <div>
      <mat-form-field class="width-45">
        <mat-label>Name</mat-label>
        <input name="name" matInput placeholder="Name" [(ngModel)]="profile.name" />
      </mat-form-field>
      <br>
      <mat-form-field class="width-45">
        <mat-label>Surname</mat-label>
        <input name="surname" matInput placeholder="Name" [(ngModel)]="profile.surname" />
      </mat-form-field>
      <br>

      <mat-radio-group [(ngModel)]="profile.gender" [formControl]="floatLabelControl">
        <mat-label>Gender</mat-label>
        <br>
        <br>
        <mat-radio-button value="MALE">Male</mat-radio-button>
        <mat-radio-button value="FEMALE">Female</mat-radio-button>
        <mat-radio-button value="NOT_MENTIONED">Not mentioned</mat-radio-button>
      </mat-radio-group>
      <br>


      <mat-form-field class="width-45">
        <mat-label>Birtdate</mat-label>
        <input type="date" name="birthdate" matInput placeholder="Birthdate" [(ngModel)]="profile.birthdate" />
      </mat-form-field>
      <br>

      <mat-form-field class="width-45">
        <mat-label>City</mat-label>
        <input name="city" matInput placeholder="City" [(ngModel)]="profile.city" />
      </mat-form-field>
      <br>


      <mat-form-field class="width-45">
        <mat-label>Textarea</mat-label>
        <textarea matInput name="about" placeholder="About" [(ngModel)]="profile.about"></textarea>
      </mat-form-field>
      <br>

      <button mat-raised-button type="submit" class="width-45">Submit</button>

    </div>
  </form>
  <br>
  <button mat-raised-button (click)="closeEditForm()" class="width-45">Cancel</button>
</div>

<div class="mat-elevation-z8 w-75" *ngIf="profile.role.toString() == 'MODERATOR' && assignedQuizzes!=null">
  <h2 align="center">Moderator`s assignments</h2>
  <table mat-table [dataSource]="assignedQuizzes" class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category</th>
      <td mat-cell *matCellDef="let element"> {{element.category}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date</th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}}</td>
    </ng-container>


    <ng-container  matColumnDef="actions">
      <th  mat-header-cell *matHeaderCellDef> Acting</th>
      <mat-cell  *matCellDef="let row; let element;">
        <button  class="buttonsAction" mat-stroked-button (click)="unsignModeratorQuiz(element.id)">Unasign</button>
      </mat-cell>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button  class="buttonsAction" mat-stroked-button (click)="unsignAllModeratorQuiz(profile.id)">Unsign All</button>
</div>
</div>

