table {
  width: 100%;
}

th, td {
  overflow: hidden;
  width: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#actions {
  overflow: hidden;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-cell, .mat-cell {
  min-height: auto;
  padding: 12px 16px 12px 0;
}


mat-icon-button {
  padding-right: 10px;
  width: 50px;
}

#table {
  width: 48%;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 0px;
  left: 8px;
}

.mat-expansion-panel {
  width: 48%;
}

#add-quiz-button {
  width: 45%;
}

.reject.mat-row:hover {
  background-color: whitesmoke;
}


