mat-card {
    align-self: center;
    width: 60%;
    margin: 3em;
}

mat-card-content {
    text-align: center;
}

mat-card-actions {
    text-align: end;
}

.form-container {
    width: 400 px;
    margin: 0 px auto;
    margin-top: 200 px
}

.form-field {
    display: block
}
