<div *ngIf="user">
<div fxLayout="row" class >
  <div fxFlex="30"></div>
  <div fxFlex="center center">
    <h2>{{user.email}}</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changingPassFormValidation()">

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password"  matInput formControlName="password"  placeholder="Password"  name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required/>
        <mat-error *ngIf="f.password.errors?.required">Password is require</mat-error>
        <mat-error *ngIf="f.password.errors?.pattern">Must contain at least 8 or more characters</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width">
        <mat-label> Confirm password</mat-label>
        <input type="password"  matInput  placeholder="Password" formControlName="confirmPassword"  name="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <mat-error *ngIf="f.confirmPassword.errors?.required">Confirm Password is required</mat-error>
        <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must match</mat-error>
      </mat-form-field>
      <br>

      <button mat-raised-button type="submit">Set password</button>

    </form>
  </div>
  <div fxFlex="30"></div>
</div>
</div>
