<div class="container" fxLayout="column">
    <p fxFlexAlign="center">Select one or more answers</p>
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div *ngFor="let answer of answers; let i=index" fxFlex="40%" class="answer-option">
            <button mat-raised-button *ngIf="!checked[i]" (click)="checked[i]=!checked[i]" color="accent"
                fxLayout="column" fxLayoutAlign="center">
                <img matCardImage [src]="answer.image" alt="https://material.angular.io/assets/img/examples/shiba2.jpg">
                {{answer.text | titlecase}}</button>
            <button mat-stroked-button *ngIf="checked[i]" (click)="checked[i]=!checked[i]" color="accent"
                fxLayout="column" fxLayoutAlign="center"><img matCardImage
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                {{answer.text | titlecase}}</button>
        </div>
    </div>
</div>
